body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 20px auto;
}

.day {
    width: calc(100% / 7);
    text-align: center;
    border: 1px solid #ccc;
}

.date {
    font-weight: bold;
    padding: 10px;
    background-color: #e0e0e0;
}

.event {
    padding: 10px;
}

#day1 .date {
    background-image: url('./img/téléchargement.jpeg'); 
    background-size: cover;
    color: white; 
}

#day2 .date {
    background-image: url('image2.jpg'); 
    background-size: cover;
    color: white; 
}
